<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  
  <header>
    <div style="display: flex; justify-content: space-between; align-items: center; padding: 0 2em;">
      <nav>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="howitworks.html">How It Works</a></li>
          <li><a href="pricing.html">Pricing</a></li>
          <li><a href="about.html" class="active">About Us</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <img src="../static/images/logo.png" alt="SlidesPro Logo" class="logo">
    </div>
  </header>

  <main><h1>About Us</h1><p>Meet the Executive team behind SlidesPro.</p>
    <div class="team-container">
      <div class="profile-box">
        <img src="../static/images/jerry.png" alt="Jerry Chen Pic">
        <h3>Jerry Chen</h3>
        <p>CMU IS Class of 2027</p>
        <p>Contributed to all major phases, led the team to complete every part of the project</p>
      </div>
      <div class="profile-box">
        <img src="../static/images/irene.png" alt="Irene Chou Pic">
        <h3>Irene Chou</h3>
        <p>CMU IS Class of 2027</p>
        <p>Contributed to finding revenue and marketing strategies for the project</p>
      </div>
      <div class="profile-box">
        <img src="../static/images/david.png" alt="David Chung Pic">
        <h3>David Chung</h3>
        <p>CMU IS Class of 2028</p>
        <p>Contributed to designing the website and generating ideas for business plan</p>
      </div>
    </div>
  </main>
  <footer>&copy; 2025 SlidesPro. All rights reserved.</footer>
</body>
</html>
